<!doctype html>
<html>
	<head>
		{% block head %}
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/hot-sneaks/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="static/jquery-ui-timepicker-addon.css" />
		<link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<script src="static/jquery-ui-timepicker-addon.js"></script>
		<script src="static/bootstrap.min.js"></script>
		<script src="static/mustache.js"></script>
		<script src="static/jquery.tinysort.min.js"></script>
		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<div class="container">
			<h1>{% block header %}{% endblock %}</h1>
			{% block body %}
			{% endblock %}
		</div>
		<hr />
		<footer>
			<div class="container">
				<p class=".small text-center text-muted">This site is a deployment of <a href="https://bitbucket.org/Sylnai/timerboard">timerboard</a>, which is available under the <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
			</div>
		</footer>
	</body>
	<script>
		$('#dtf').tooltip()
	</script>
</html>
